page-post-contents {
  .post-contents img{
    height: 70px;
  }

  textarea{
    border: none;
    outline: none;
    resize: none;
    display: block;
    width: 100%
  }

  .grade-star{
    padding-left:5px;
    font-size: 1.3em;
    color:#cba135;
  }

  .star-wrapper{
    margin: 0px;
    font-size: 2.0rem !important;
    padding: 0px !important;
    bottom: 6px;
    height: 20px !important;
  }

  ion-thumbnail{
    margin:auto;
  }
}
