<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Post
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveBoard()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div class="post-contents">
    <ion-item no-lines>
      <img src="assets/sample/book3.jpg" item-start/>
      <div class="contents-textarea" contentEditable="true" placeholder="contents..."></div>
    </ion-item>
  </div>
  <ion-item>
    <span>별점</span>
    <div>
      <button ion-button icon-left clear class="star-wrapper" (click)="onClickStar(1)">
        <ion-icon name="{{stars[0]}}" class="grade-star"></ion-icon>
      </button>
      <button ion-button icon-left clear class="star-wrapper" (click)="onClickStar(2)">
        <ion-icon name="{{stars[1]}}" class="grade-star"></ion-icon>
      </button>
      <button ion-button icon-left clear class="star-wrapper" (click)="onClickStar(3)">
        <ion-icon name="{{stars[2]}}" class="grade-star"></ion-icon>
      </button>
      <button ion-button icon-left clear class="star-wrapper" (click)="onClickStar(4)">
        <ion-icon name="{{stars[3]}}" class="grade-star"></ion-icon>
      </button>
      <button ion-button icon-left clear class="star-wrapper" (click)="onClickStar(5)">
        <ion-icon name="{{stars[4]}}" class="grade-star"></ion-icon>
      </button>
    </div>
  </ion-item>
  <button ion-button (click)="openGallery()">이미지 업로드</button>
  <div *ngIf="this.selectedImgUris != null">
    <div *ngFor="let img of selectedImgUris">
      <img src="{{img}}" />
    </div>
  </div>
</ion-content>
