page-login {
  #login-facebook {
    background-color: #1749b0;
  }
  #login-kakao{
    background-color: #fae101;
    color: black;
  }

  #footer-join{
    font-size:12px;
    text-align: center;
  }
}
