page-login {
  #login-facebook {
    background-color: #3b5998;
  }

  #login-kakao{
    background-color: #ffeb00;
    color: black;
  }

  #footer-join{
    font-size:12px;
    text-align: center;
  }

  #login-facebook img, #login-kakao img{
    height: 2.3em;
  }
}
