<ion-card>
  <ion-item>
    <ion-avatar item-start (click)="openHomeModal()" >
      <img src="{{bookBoard.member.profileImg}}">
    </ion-avatar>
    <ion-buttons
      class="btn-more"
       *ngIf="bookBoard.member.memberId == memberService.myInfo.memberId ||
              memberService.myInfo.memberType.toString() == 'ADMIN'">
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <h2 (click)="openHomeModal()" >{{bookBoard.member.nickname}}</h2>
    <p>{{bookBoard.regDate}}</p>

  </ion-item>

  <!-- <ion-slides pager>
    <ion-slide>
      <img src="{{bookBoard.bigCover}}" (click)="openItemModal()">
    </ion-slide>
    <ion-slide *ngFor="let item of bookBoard.imgs">
      <img src="{{item}}">
    </ion-slide>
  </ion-slides> -->

  <img src="{{bookBoard.bigCover}}" (click)="openItemModal()">

  <ion-card-content (click)="openDetailViewModal()" >
    <p innerHTML = {{bookBoard.contents}}></p>
  </ion-card-content>

  <ion-row>
    <ion-col class="card-bottom-col">
      <button ion-button icon-left clear small (click)="clickHeart()">
        <ion-icon name="{{heartShape}}" [class.clicked-heart]="bookBoard.isClickedHeart"></ion-icon>
        <div>{{bookBoard.heartCount}}</div>
      </button>
    </ion-col>
    <ion-col class="card-bottom-col">
      <button ion-button icon-left clear small (click)="openCommentModal()">
        <ion-icon name="text"></ion-icon>
        <div>{{bookBoard.commentCount}}</div>
      </button>
    </ion-col>
    <ion-col class="card-bottom-col">
    <button ion-button icon-left clear small>
      <ion-icon name="star" id="icon-start"></ion-icon>
      <div>{{bookBoard.grade}}</div>
    </button>
  </ion-col>
  </ion-row>

</ion-card>
