<ion-card>
  <ion-item>
    <!-- (click)="openHomeModal()" -->
    <ion-avatar item-start >
      <img src="{{bookBoard.member.profileImg}}">
    </ion-avatar>
    <!-- (click)="openHomeModal()" -->
    <h2 >{{bookBoard.member.nickname}}</h2>
    <p>{{bookBoard.regDate}}</p>
    <img src="{{bookBoard.cover}}" item-end style="height:55px; width:auto;" (click)="openItemModal()"/>
  </ion-item>


  <!-- (click)="openDetailViewModal()" -->
  <ion-slides pager (click)="openDetailViewModal()">
    <ion-slide>
      <img src="assets/sample/book1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/sample/book2.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/sample/book3.jpg">
    </ion-slide>
  </ion-slides>

  <ion-card-content (click)="openDetailViewModal()">
    <p>{{bookBoard.contents}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col class="card-bottom-col">
      <button ion-button icon-left clear small (click)="clickHeart()">
        <ion-icon name="{{heartShape}}" [class.clicked-heart]="isClickedHeart"></ion-icon>
        <div>{{bookBoard.heartCount}}</div>
      </button>
    </ion-col>
    <ion-col class="card-bottom-col">
      <button ion-button icon-left clear small (click)="openCommentModal()">
        <ion-icon name="text"></ion-icon>
        <div>4</div>
      </button>
    </ion-col>
    <ion-col class="card-bottom-col">
    <button ion-button icon-left clear small>
      <ion-icon name="star" id="icon-start"></ion-icon>
      <div>{{bookBoard.grade}}</div>
    </button>
  </ion-col>
  </ion-row>

</ion-card>
