<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Book
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <img src="{{book.cover}}" class="book-cover" (load)="loading.dismiss()"><br />
    <div class="book-shortcut-wrapper">
      <strong>{{book.title}}</strong> ({{book.pubDate}})<br /><br />
      <div>{{book.author}}</div><br />
      <div>
        가격 : <span>{{ book.priceStandard | comma }}</span>
      </div><br />
      <!--<ion-icon name="star" class="grade-star"></ion-icon>-->
      <!--<ion-icon name="star" class="grade-star"></ion-icon>-->
      <!--<ion-icon name="star" class="grade-star"></ion-icon>-->
      <!--<ion-icon name="star-half" class="grade-star"></ion-icon>-->
      <!--<ion-icon name="star-outline" class="grade-star"></ion-icon>-->
      <!--<span>(3.8)</span>-->
    </div>
  </div><br />

  <div class="book-description">
    {{getDescription()}}
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <a target="_blank" href="{{book.link}}" id="book-sell">
      구매하러가기
    </a>
  </ion-toolbar>
</ion-footer>
