modal-item {
  .book-img-wrapper{
    float: left;
    width: 50%;
    margin: auto;
  }

  .grade-star{
    padding-right: 2px;
    font-size: 1.3em;
    color:#cba135;
  }

  .book-description{
    clear:both;
  }

  #book-sell{
    text-decoration: none;
    text-align: center;
    display: block;
  }
}
