page-timeline {
  .card-md, .card-ios{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
    box-shadow : none;
  }

  .card-bottom-col {
    text-align: center;
  }

  .scroll-content{
    background-color: #eee;
    // margin-bottom: 0px;
  }
  .timeline-book{
    width: auto;
    margin: auto;
  }
}
