<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Detail
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <page-board [isDetail]="true"></page-board>
  <div class="comment-wrapper">
    <comment></comment>
    <comment></comment>
    <comment></comment>
    <comment></comment>
  </div>
</ion-content>
<page-comment-write></page-comment-write>
