<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Post
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder = "search" animated = true (keyup.enter)="search(true)" [(ngModel)]="query"></ion-searchbar>


    <ion-list>
      <ion-item *ngFor="let book of books">
        <ion-thumbnail item-start (click)="openItemModal()">
          <img src="{{book.cover}}">
        </ion-thumbnail>
        <h2 class="title">{{book.title}}</h2>
        <p class="subinfo">{{book.publisher}} / {{book.author}}</p>
        <button ion-button clear item-end default class="btn-write" class="select-book" (click)="locateContentsPage()">
          <ion-icon ios="ios-paper-plane-outline" md="md-paper-plane" clear item-end large></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="books.lenght == 0">
        검색결과가 없습니다.
      </ion-item>

    </ion-list>

    <ion-infinite-scroll *ngIf="isMore == true" (ionInfinite)="more($event)" >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
