page-comment-write{
  .toolbar-background{
    background-color: white;
  }

  .comment-write{
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn-write{
    margin: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  textarea{
    border: none;
    outline: none;
    resize: none;
    display: block;
    width: 100%;
    padding-left: 16px;
  }
}
