<ion-header>
  <ion-navbar>
    <ion-title text-center>
      My Account
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="logoutConfirm()" *ngIf="isMe">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="settings" class="icon-settings" (click)="openSettingModal()" *ngIf="isMe"></ion-icon>
    <div class="avatar-left">
      <ion-avatar (click)="openPhotoViewer();">
        <img src="{{member.profileImg}}">
      </ion-avatar>
      <div class="avatar-nickname">{{member.nickname}}</div>
    </div>
    <div class="avatar-right-letter board-cnt">
      게시글 <span>67</span>
    </div>
    <div class="avatar-right-letter">
      하트&nbsp;&nbsp;&nbsp;&nbsp; <span>80</span>
    </div>
    <div class="avatar-right-letter">
      방문&nbsp;&nbsp;&nbsp;&nbsp; <span>112</span>
    </div>
  </ion-item>
  <hr/>
  <ion-row *ngFor="let row of bookBoards">
    <ion-thumbnail *ngFor="let item of row" col-3 (click)="openDetailViewModal(item)" >
      <img src="{{item.cover}}">
    </ion-thumbnail>
  </ion-row>
</ion-content>
